<h1>ジャンル編集画面</h1>



    <%= form_for @genre, :url => { :controller => :genres, :action => :update } do |f| %>
     <% if @genre.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
         <h3><%= @genre.errors.count %>error prohibited this obj from being saved:</h3>
         <ul>
          <% @genre.errors.full_messages.each do |message| %>
           <li><%= message %></li>
          <% end %>
         </ul>
        </div>
     <% end %>
           < "無効にする", book_path(book), class: "btn btn-danger" %>

        <h3><%= f.text_field :genre_name %></h3>
        <%= f.submit '更新', class: "btn btn-primary btn-block" %>
   <% end %>

   <% if @genre.deleted_at.nil? %>
        <%= link_to "無効にする", @genre, method: :delete, data:  { confirm: '本当に無効にしますか？' }, class: "btn btn-danger" %>
    <% else %>
        <%= link_to "有効にする", @genre, method: :genre.restore, class: "btn btn-danger" %>
   <% end %>

