
<!-- 会員側のマイページ -->
<table class="table table-striped">
		<h2>登録情報</h2>
		 <!-- <tr> link_to '編集する',edit_user %> -->
		 <!-- link_to 'パスワードを変更する',user_p %></tr> -->
		<tr>
			<th>氏名</th>
			<td><%= @user.family_name_kanji %>
				<%= @user.first_name_kanji %>
			</td>
		</tr>
		<tr>
			<th>カナ</th>
			<td><%= @user.family_name_kana %>
				<%= @user.first_name_kana %>
			</td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td><%= @user.postal_code %></td>
		</tr>
		<tr>
			<th>住所</th>
			<td><%= @user.user_address %></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td><%= @user.tele_number %></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= @user.email %></td>
		</tr>
		<h2>配送先</h2>
		<%= link_to '一覧を見る',delivery_path(current_user.id) %>
		<h2>注文履歴</h2>
		<%= link_to '一覧を見る',orders_path %>
		
</table>

