<!-- 注文履歴一覧 -->
<div class="container">
	<table class="table table-striped">
	<% @orders.each do |order| %>
	<h3>注文履歴一覧</h3>
	<tr>
		<th>注文日</th>
		<td><%= link_to order.purchase_date, order_path(order.id)  %></td>
	</tr>
	<tr>
		<th>配送先</th>
		<td><%= order.destination_postal_code %>
        	<%= order.destination_name %>
       	    <%= order.destination_address %>
        </td>
	</tr>
	<tr>
		<th>注文商品</th>
		<% order.order_products.each do |order_product| %>
		<td> <%= order_product.product.product_name %></td>
		<% end %>
	</tr>
	<tr>
		<th>支払金額</th>
		<td>
		<%= order.total_charge %>
		</td>
	</tr>
	<tr>
		<th>注文詳細</th>
		<td><%= link_to '表示する',order_path(order) %></td>
<%= order.order_status_i18n %>

<% end %>