<!-- 注文履歴詳細 -->
<h3>注文履歴詳細</h3>
<table class="table table-striped">
<tr>注文情報</tr>
  <tr><th>注文日</th><th><%= @order.purchase_date %></th></tr>
  <tr><td>配送先</td><td><%= @order.destination_postal_code %>
        	<%= @order.destination_name %>
       	    <%= @order.destination_address %></td></tr>
  <tr><td>支払方法</td><td><%= @order.payment_method_i18n %></td></tr>
  <tr><td>ステータス</td><td><%= @order.order_status %></td></tr>
</table>



<table class="table table-striped">
<tr>請求情報</tr>
  <tr>
  <tr><td>配送料</td><td><%= @order.postage %></td></tr>
  <tr><td>ご請求額</td><td><%= @order.total_charge %></td></tr>
</table>
