<div class="container">
    <h4>注文情報確認</h4>
    <table border="1">
        <tr>
            <th>商品名</th>
            <th>単価(税)</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
        <% sum = 0 %>
        <% @carts.each do |cart| %>
        <tr>
            <td>
                <div><%= attachment_image_tag cart.product, :image, :fill, 50, 50, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %></div>
               </td>
               <td>
                <%= cart.product.product_name %>
               </td>
               <td>
                <%= cart.product.tax_excluded %>
               <td>
                <%= cart.product_number %>
               </td>

        </tr>
        <% sum = sum + calc %>
        <% end %>
    </table>

    <table border="1">
        <tr>
            <td>送料</td>
            <td>800</td>
        </tr>
        <tr>
            <td>商品合計</td>
            <td>
                <%= sum %>
            </td>
        </tr>
        <tr>
            <td>請求金額</td>
            <td>
        
            </td>
        </tr>
    </table>

    <h3>支払方法</h3>
    <p>

    </p>
    <h3>お届け先</h3>
    <p>〒

    </p>
</div>