<div class="container">
    <h4>注文情報確認</h4>
    <table class="table table-bordered">
        <tr>
            <th>商品名</th>
            <th>単価(税)</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
        <% sum = 0 %>
<!-- form_for -->


<!-- form_with
text_field_tag
この二つでデータの引き渡しをすると、複数のモデルのデータをセーブするのが簡単になるらしい。
 -->

        <% @carts.each do |cart| %>
          <tr>
               <td>
                <div><%= attachment_image_tag cart.product, :image, :fill, 50, 50, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %></div>
                <%= cart.product.product_name %>
               </td>
               <td>
                <%= cart.product.tax_excluded %>
               <td>
                <%= cart.product_number %>
               </td>
               <td><%= calc = cart.product.tax_excluded * cart.product_number %></td>
           </tr>
        <% sum = sum + calc %>
<!-- form_for -->

        <% end %>
    </table>

    <table border="1">
        <tr>
            <td>送料</td>
            <td>800</td>
        </tr>
        <tr>
            <td>商品合計</td>
            <td>
                <%= sum %>
            </td>
        </tr>
        <tr>
            <td>請求金額</td>
            <td>
            <%= sum + 800%>
            </td>
        </tr>
    </table>

        <h3>支払方法</h3>
        <%= @order.payment_method_i18n %>

<%= form_for @order do |f| %>
    <h3>お届け先</h3>
    <p>〒<%= @order.destination_postal_code %>
        <%= @order.destination_name %>
        <%= @order.destination_address %>
        <%= f.hidden_field :payment_method %>
    </p>
        <p><%= f.hidden_field :destination_postal_code %>
        <p><%= f.hidden_field :destination_name %>
        <p><%= f.hidden_field :destination_address %>
    <div class="actions">
    <%= f.submit '購入情報入力に戻る', name: 'back' %>
    </div>
    <div class="actions">
    <%= f.submit '購入確定する' %>
    <% end %>
  </div>
</div>
