 <div class="container-fluid bg-info">
    <table class="table table-bordered">
        <h4>ショッピングカート</h4>
          <thead>
            <tr>
              <th class="col-xs-2"></th>
              <th class="col-xs-4">商品名</th>
              <th class="col-xs-2">単価(税抜)</th>
              <th class="col-xs-1">数量</th>
              <th class="col-xs-2">小計</th>
              <th class="col-xs-1"></th>
            </tr>
          </thead>



       <tbody>
　      　<% sum = 0 %>
           <% @carts.each do |cart| %>
             <tr>
               <td>
                <div><%= attachment_image_tag cart.product, :image, :fill, 50, 50, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %></div>
               </td>
               <td>
                <%= cart.product.product_name %>
               </td>
               <td>
                <%= cart.product.tax_excluded %>
                <%= form_for cart do |f| %>
               <td>
                <%= f.select :product_number, [*1..100] ,class:"form-control" %>
                <%=f.submit "数量を変更", class: "btn btn-primary" %>
               </td>
              <% end %>
              </td>
              <td>
              <%= calc = cart.product.tax_excluded * cart.product_number %>
              </td>
              <td>
              <%= link_to '削除する', cart, method: :delete, class: "btn btn-danger" %>
              </td>
             </tr>
             <% sum = sum + calc %>
           <% end %>



           <td></td>
           <td></td>
           <td></td>
           <td>合計金額</td>
           <td><%= sum %></td>
        </tbody>
        <tfoot>
        <td>
          <%= link_to "情報入力に進む", new_cart_path(current_user), class: "btn btn-primary" %>
        </td>
       </tfoot>
    </table>
</div>
</div>
</div>