 <div class="container">
      <table class="table table-bordered">
        <h4>ショッピングカート</h4>
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税抜き）</th>
              <th>数量</th>
              <th>小計</th>
              <th>&nbsp;</th>
            </tr>
          </thead>


<!-- 合計金額の出し方は仮の状態です -->
　<tbody>
　　<% sum = 0 %>
           <% @carts.each do |cart| %>
                  <tr>
           <td><%= cart.product.product_name %></td>
           <td><%= cart.product.tax_excluded %></td>
           <td><%= cart.product_number %></td>
           <td>
            <%= calc = cart.product.tax_excluded * cart.product_number %>
           </td>
           <td><button class="btn btn-danger"><%= link_to '削除する', cart, method: :delete %></button></td>
                  </tr>
            <% sum = sum + calc %>
           <% end %>
  </tbody>

          <thead>
            <tr>
              <th>合計金額</th>
            </tr>
          </thead>
          <tbody>
            <tr>
　　　　　　　<td><%= sum %></td>
　　　　　　　</tr>
          <td><%= link_to '情報入力に進む', new_order_path %></td>
  　　    </tbody>
        </table>
</div>