
<div class= "container">
  <h4>購入情報入力</h4>



<h2>支払い方法</h2><br>


    <%= form_for(@order,url: carts_confirm_path(current_user)) do |f| %>

<h4>クレジットカード</h4>
  <label>
    <%= radio_button_tag("choice","card",checked: true) %>
  </label>
    <h4>現金払い</h4>
  <label>
    <%= radio_button_tag("choice","cash") %>
  </label>

<h2>お届け先</h2>
    <%= form_for(@order,url: carts_confirm_path(current_user)) do |f| %>
    <label>
        <%= radio_button_tag("select","user_address") %>ご自身の住所
    </label>
          <p>〒<span><%= @user.postal_code %>
      <%= @user.user_address %><br>
      <%= @user.family_name_kanji %>
        <%= @user.first_name_kanji %></span></p>

    <label>
        <%= radio_button_tag("select","delivery_address",checked: true) %>登録済住所から選択
    </label>
    <%= f.collection_select :user_id, current_user.deliveries,:id, :deli_postal_address_and_name %><br>

    <label>
        <%= radio_button_tag("select","new_delivery_address") %>新しいお届け先
    </label>

    <%= f.fields_for(@new_destination) do |deli| %>
    <p>郵便番号
        <%= deli.text_field :delivery_postal_code %></p>
    <p>住所
        <%= deli.text_field :delivery_address %>
    </p>
    <p>宛名
        <%= deli.text_field :delivery_name %>
    </p>
    <% end %>
    <%= f.submit "確認画面へ進む" %>

    <% end %>
  <% end %>
</div>