<div class= "container">
  <h4>購入情報入力</h4>



<h2>支払い方法</h2><br>

<%= form_with(model: order, local: true) do |f| %>

<!-- 仮置 -->
<div class="field">
  <%= form.select :main, Menu.mains.keys, :selected=>Menu.mains[@menu.main] %>
  <%= f.select :payment_methods, Order.payment_methods.keys, :selected=>Order.payment_methods[@order.payment_method], {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
</div>

<!-- -------- -->
  <%= f.radio_button :payment_methods, :Credit %>
  <%= f.label :payment_methods, "クレジットカード", {value: :Credit, style: "display: inline-block;"} %><br>
  <%= f.radio_button :payment_methods, :Bank %>
  <%= f.label :payment_methods, "銀行振込", {value: :Bank, style: "display: inline-block;"} %>


  <h3>お届け先</h3>
  <h4>ご自身の住所</h4>


  <%= f.radio_button :destination_address, :You %>
  <%= f.label :destination_address, "ご自身の住所", { value: :You, style: "display: inline-block;"} %>
  　　 <p>〒<span><%= @user.postal_code %>
      <%= @user.user_address %><br>
      <%= @user.family_name_kanji %>
        <%= @user.first_name_kanji %></span></p>

  <%= f.radio_button :destination_address, :Known %>
  <%= f.label :destination_address, "登録先住所から選択", { value: :Known, style: "display: inline-block;"} %><br>
  <%= f.collection_select :delivery_address, @deliveries, :id, :delivery_address %>
<%= f.collection_select :delivery_name, current_user.deliveries, :id, :delivery_name %>
<%= f.collection_select :delivery_postal_code, current_user.deliveries, :id, :delivery_postal_code %>

  <br>

  <%= f.radio_button :destination_address, :Newone %>
  <%= f.label :destination_address, "新しいお届け先",  value: :Newone %><br>

  <%= f.fields_for :deliveries do |deli| %>
    郵便番号<%= deli.text_field :delivery_postal_code %>
    住所<%= deli.text_field :delivery_address %>
    宛名<%= deli.text_field :delivery_name %>
    <%= deli.hidden_field :delivery_id %>
    <%= f.submit '登録する' %>
  <% end %>
  <%= link_to '確認画面に進む', carts_confirm_path(current_user), class: "btn btn-primary" %>
<% end %>
</div>