<h1><strong>商品一覧画面</strong></h1>

<p>新規作成ボタン</p>


<p>   <% @admins_products.each do |admins_product| %>
        <%= product_id %>
        <%= link_to prodact_name, admins_product_path(admins_product) %>
        <%= tax_excluded %>
        <%= genre_name %>
        <%= sale_status %>
      <% end %>
</p>
    <%= paginate @admins_products, class: "paginate" %>

