<h1><strong>商品一覧画面</strong></h1>

<%= link_to "+", new_admins_product_path %>
 

<p>   <% @admins_products.each do |p| %>
        <%= p.id %>
        <%= link_to p.product_name, admins_product_path(p.id) %>
        <%= p.tax_excluded %>
        <%= p.genre.genre_name %>
        <%= p.sale_status_i18n %>
      <% end %>
    <%= paginate @admins_products, class: "paginate" %>
</p>
