<div class="container">

<h1><strong>商品一覧画面</strong></h1>

<%= link_to "+", new_admins_product_path, class: "btn btn-primary btn-circle" %>

      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
      <% @admins_products.each do |p| %>
       <tr>
        <td><%= p.id %></td>
        <td><%= link_to p.product_name, admins_product_path(p.id) %></td>
        <td><%= p.tax_excluded %></td>
        <td><%= p.genre.genre_name %></td>
        <td><%= p.sale_status_i18n %></td>
       </tr>
      <% end %>
    <%= paginate @admins_products, class: "paginate" %>
</p>

</div>