<div class="container">
  <h1>商品 新規登録画面</h1>
    <%= form_for @admins_product, :url => { :controller => :products, :action => :create } do |f| %>
     <% if @admins_product.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
         <h3><%= @admins_product.errors.count %>error prohibited this obj from being saved:</h3>
         <ul>
          <% @admins_product.errors.full_messages.each do |message| %>
           <li><%= message %></li>
          <% end %>
         </ul>
        </div>
       <% end %>

        <%= f.attachment_field :image %>
        <h3>商品名       <%= f.text_field :product_name %></h3>
        <h3>商品説明      <%= f.text_area :product_description %></h3>
        <h3>ジャンル      <%= f.collection_select :genre_id, Genre.all, :id, :genre_name %></h3>
        <h3>税抜価格     <%= f.number_field :tax_excluded %>円</h3>
        <h3>販売ステータス       <%= f.select :sale_status, Product.sale_statuses_i18n.keys.map { |k| [Product.sale_statuses_i18n[k], k]} %></h3>
        <%= f.submit '新規登録', class: "btn btn-primary" %>
    <% end %>
</div>