<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				ながのCAKE
			</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarEexample3">
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="検索キーワード">
				</div>
				<button type="submit" class="btn btn-default">検索</button>
				<p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
			</form>
		</div>
	</div>
</nav>

　　　　　　　　　<!--カート送信ボタンのコード -->
            <% @products.each do |product| %>
                  <%= product.product_name %>
                  <%= product.tax_excluded %>

              <%= form_for( Cart.new(product_id: product.id)) do|f|  %>
                   <%= f.select :product_number, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"]] ,class:"form-control" %>
                  <%= f.hidden_field :product_id %>
                  <%= f.submit "カートに入れる" %>
              <% end %>
           <% end %>


