<div class="container-fluid bg-success">
  <div class="row">


        <div class="col-md-4">
          <table class="table">
          <thead>
            <tr>
              <th>ジャンル検索</th>

            </tr>
          </thead>
              <% @genres.each do |genre| %>
                  <td><%= link_to genre.genre_name, products_top_path(genre_id: genre.id) %></td>
                  <!-- 上のpath以降は省略形、フルだと_path(:genre_id => genre.id) -->
                  <!-- コントローラーのgenre_idを -->



<!-- products_top_path(:genre_id => genre.id) -->
<!--  :genre_id  ==  "genre_id"   -->
<!-- genre_id:   ==  "genre_id"  =>  -->
<!-- 前後開ける -->
<!-- genre_id:　==  "genre_id" -->

<!-- products_top_path(genre_id: genre.id) -->




  <!--             < link_to  %> -->

                </tr>

    <% end %>
        </table>
        </div>

        <div class="col-md-8">
           <table class="table">
　　　　　　　　　<!--カート送信ボタンのコード -->
            <% @products.each do |product| %>
            <tr>
            	<td>

                 <div><%= attachment_image_tag product, :image, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size: '50x50' %></div>


              </td>
                  <td><%= product.product_name %></td>
                  <td><%= product.tax_excluded %></td>

                <%= form_for( Cart.new(product_id: product.id)) do|f|  %>
                   <td><%= f.select :product_number, [*1..100] ,class:"form-control" %></td>
                   <%= f.hidden_field :product_id %>
                   <td><%= f.submit "カートに入れる", class: "btn btn-primary" %></td>
                <% end %>
            <% end %>
           </table>
        </div>


  </div>
</div>