<h1>注文一覧画面</h1>
     <table class="table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>制作ステータス</th>
            <th>入金ステータス</th>
          </tr>
        </thead>
        <tbody>
            <% @admins_orders.each do |p| %>
             <tr>
              <td><%= link_to p.purchase_date admins_order_path(p.id)  %></td>
              <td><%= p.family_name_kanji %><%= p.first_name_kanji %></td>
              <td><%= p.email  %></td>
              <td><%= p.production_status  %></td>
              <td><%= p.order_status  %></td>
             </tr>
            <% end %>
        </tbody>
      </table>
    </div>
        <%= paginate @admins_products, class: "paginate" %>
