<h1>注文詳細画面</h1>
<h3><strong>購入者</strong><%= @user.family_name_kanji %><%= @user.first_name_kanji %></h3>
<h3><strong>配送先</strong><%= @admins_order.destination_address %></h3>
<h3><strong>支払方法</strong><%= @admins_order.payment_methods_i18n %></h3>

  <%= form_for @admins_order, :url => { :controller => :orders, :action => :update } do |f| %>
   <% if @admins_order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h3><%= @admins_order.errors.count %>error prohibited this obj from being saved:</h3>
      <ul>
       <% @admins_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
      </ul>
    </div>
   <% end %>
        <h3>注文ステータス       <%= f.select :order_status, Order.order_statuses_i18n.keys.map { |k| [Order.order_statuses_i18n[k], k]} %></h3>
        <%= f.submit '更新', class: "btn btn-primary btn-block" %>
　 <% end %>

     <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>

            <% @order_products.each do |p| %>
             <tr>
              <td><%= p.product.product_name  %></td>
              <td><%= p.tax_included %></td>
              <td><%= p.number  %></td>
              <td><%= p.tax_included * p.number  %></td>

             <%= form_for @order_product, :url => { :controller => :order_products, :action => :update } do |f| %>
              <td><%= f.select :production_status, OrderProduct.production_statuses_i18n.keys.map { |k| [OrderProduct.production_statuses_i18n[k], k]} %></td>
             <td><%= f.submit '更新', class: "btn btn-primary" %></td>
             <% end %>
            </tr>
            <% end %>

        </tbody>
      </table>
    </div>



    商品合計  <%= @admins_order.total_charge - @admins_order.postage %>
    送料  <%= @admins_order.postage %>
    請求金額合計  <%= @admins_order.total_charge %>


