<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

       <!-- link_to "商品一覧", admins_products_path %> -->
       <!-- link_to "会員一覧", admins_users_path %> -->
       <!-- link_to "注文履歴一覧", admins_orders_path %> -->
      <!-- link_to "ジャンル管理", admins_genres_path %> -->
<h2>バーーーか</h2>
       <%=link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </header>
    <!-- /header -->

    <%= yield %>
  </body>
</html>
